<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- Your application-specific settings can be added here. -->
    </appSettings>
    <connectionStrings>
        <add name="QL_CONN" connectionString="Data Source=192.168.2.9;Initial Catalog=HRD;User ID=sa;Password=dbtredp;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" />
        <authentication mode="Forms">
            <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" timeout="60" />
        </authentication>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
